@model ReficioSolution.Models.CheckListViewModel

@{
    ViewData["Title"] = "Utfylt Sjekkliste";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utfylt Sjekkliste</title>
    <link rel="stylesheet" href="/css/Checklist.css">
</head>
<body>




<h2>Sjekkliste</h2>

            @Html.ValidationSummary()
          @Html.AntiForgeryToken()
 <table>
      <tr>
        <th>Kategorier</th>
        <th>Sjekkpunkter</th>
        <th>OK</th>
        <th>Bør Skiftes</th>
        <th>Defekt</th>
      </tr>
        <tr>
<td rowspan="8">Mekanisk</td>
        <td>Sjekk Clutchcheck lameller for slitasje</td>
        <td>
           <input type="radio" id="ClutchCheck_OK" name="ClutchCheck" value="OK" 
                     @(Model.ClutchCheck == "OK" ? "checked='checked'" : "")  />
              <label for="ClutchCheck_OK"></label>
          </td>
          <td>
              <input type="radio" id="ClutchCheck_Bør_skiftes" name="ClutchCheck" value="Bør_skiftes" 
                     @(Model.ClutchCheck == "Bør_skiftes" ? "checked='checked'" : "")  />
              <label for="ClutchCheck_Bør_skiftes"></label>
          </td>
          <td>
              <input type="radio" id="ClutchCheck_Defekt" name="ClutchCheck" value="Defekt" 
                     @(Model.ClutchCheck == "Defekt" ? "checked='checked'" : "")  />
              <label for="ClutchCheck_Defekt"></label>
              <input type="hidden" name="ClutchCheck" value="@Model.ClutchCheck" />
        </td>
    </tr>
    <tr>
        <td>Sjekk Bremser. Bånd/ Pal</td>
        <td>
           <input type="radio" id="BrakeCheck_OK" name="BrakeCheck" value="OK" 
                     @(Model.ClutchCheck == "OK" ? "checked='checked'" : "")  />
              <label for="ClutchCheck_OK"></label>
          </td>
          <td>
              <input type="radio" id="BrakeCheck_Bør_skiftes" name="BrakeCheck" value="Bør_skiftes" 
                     @(Model.BrakeCheck == "Bør_skiftes" ? "checked='checked'" : "")  />
              <label for="BrakeCheck_Bør_skiftes"></label>
          </td>
          <td>
              <input type="radio" id="BrakeCheck_Defekt" name="BrakeCheck" value="Defekt" 
                     @(Model.BrakeCheck == "Defekt" ? "checked='checked'" : "")  />
              <label for="BrakeCheck_Defekt"></label>
              <input type="hidden" name="BrakeCheck" value="@Model.BrakeCheck" />
        </td>
    </tr>
    <tr>
        <td>Sjekk lager for trommel</td>
        <td>
<input type="radio" id="DrumBearingCheck_OK" name="DrumBearingCheck" value="OK" 
                     @(Model.DrumBearingCheck == "OK" ? "checked='checked'" : "")  />
              <label for="DrumBearingCheck_OK"></label>
          </td>
          <td>
              <input type="radio" id="DrumBearingCheck_Bør_skiftes" name="DrumBearingCheck" value="Bør_skiftes" 
                     @(Model.DrumBearingCheck == "Bør_skiftes" ? "checked='checked'" : "")  />
              <label for="DrumBearingCheck_Bør_skiftes"></label>
          </td>
          <td>
              <input type="radio" id="DrumBearingCheck_Defekt" name="DrumBearingCheck" value="Defekt" 
                     @(Model.DrumBearingCheck == "Defekt" ? "checked='checked'" : "")  />
              <label for="DrumBearingCheck_Defekt"></label>
              <input type="hidden" name="DrumBearingCheck" value="@Model.DrumBearingCheck" />
        </td>
    </tr>
    <tr>
        <td>Sjekk PTO og opplagring</td>
       <td>
           <input type="radio" id="PTOCheck_OK" name="PTOCheck" value="OK" 
                  @(Model.PTOCheck == "OK" ? "checked='checked'" : "") readonly="readonly" />
           <label for="PTOCheck_OK"></label>
           <span validation-for="PTOCheck_OK" class="PTOCheck"></span>
       </td>
       <td>
           <input type="radio" id="PTOCheck_Bør_skiftes" name="PTOCheck" value="Bør_skiftes" 
                  @(Model.PTOCheck == "Bør_skiftes" ? "checked='checked'" : "") readonly="readonly" />
           <label for="PTOCheck_Bør_skiftes"></label>
           <span validation-for="PTOCheck_Bør_skiftes" class="PTOCheck"></span>
       </td>
       <td>
           <input type="radio" id="PTOCheck_Defekt" name="PTOCheck" value="Defekt"
                  @(Model.PTOCheck == "Defekt" ? "checked='checked'" : "") readonly="readonly" />
           <label for="PTOCheck_Defekt"></label>
           <span validation-for="PTOCheck_Defekt" class="PTOCheck"></span>
           <input type="hidden" name="PTOCheck" value="@Model.PTOCheck" />
       </td>
    </tr>
        <tr>
            <td>Sjekk kjedestrammer</td>
      <td>
          <input type="radio" id="ChainTensionCheck_OK" name="ChainTensionCheck" value="OK" 
                 @(Model.ChainTensionCheck == "OK" ? "checked='checked'" : "") />
          <label for="ChainTensionCheck_OK"></label>
      </td>
      <td>
          <input type="radio" id="ChainTensionCheck_Bør_skiftes" name="ChainTensionCheck" value="Bør_skiftes" 
                 @(Model.ChainTensionCheck == "Bør_skiftes" ? "checked='checked'" : "") />
          <label for="ChainTensionCheck_Bør_skiftes"></label>
      </td>
      <td>
          <input type="radio" id="ChainTensionCheck_Defekt" name="ChainTensionCheck" value="Defekt"
                 @(Model.ChainTensionCheck == "Defekt" ? "checked='checked'" : "") />
          <label for="ChainTensionCheck_Defekt"></label>
          <input type="hidden" name="ChainTensionCheck" value="@Model.ChainTensionCheck" />
      </td>
        </tr>
 <tr>
     <td>Sjekk wire</td>
     <td>
         <input type="radio" id="WireCheck_OK" name="WireCheck" value="OK"
                @(Model.WireCheck == "OK" ? "checked='checked'" : "")/>
         <label for="WireCheck_OK"></label>
     </td>
     <td>
         <input type="radio" id="WireCheck_Bør_skiftes" name="WireCheck" value="Bør_skiftes"
                @(Model.WireCheck == "Bør_skiftes" ? "checked='checked'" : "")/>
         <label for="WireCheck_Bør_skiftes"></label>
     </td>
     <td>
         <input type="radio" id="WireCheck_Defekt" name="WireCheck" value="Defekt"
                @(Model.WireCheck == "Defekt" ? "checked='checked'" : "")/>
         <label for="WireCheck_Defekt"></label>
         <input type="hidden" name="WireCheck" value="@Model.WireCheck"/>
     </td>
 </tr>
        <tr>
            <td>Sjekk pinion lager</td>
    <td>
        <input type="radio" id="PinionBearingCheck_OK" name="PinionBearingCheck" value="OK" 
               @(Model.PinionBearingCheck == "OK" ? "checked='checked'" : "") />
        <label for="PinionBearingCheck_OK"></label>
    </td>
    <td>
        <input type="radio" id="PinionBearingCheck_Bør_skiftes" name="PinionBearingCheck" value="Bør_skiftes" 
               @(Model.PinionBearingCheck == "Bør_skiftes" ? "checked='checked'" : "") />
        <label for="PinionBearingCheck_Bør_skiftes"></label>
    </td>
    <td>
        <input type="radio" id="PinionBearingCheck_Defekt" name="PinionBearingCheck" value="Defekt"
               @(Model.PinionBearingCheck == "Defekt" ? "checked='checked'" : "") />
        <label for="PinionBearingCheck_Defekt"></label>
        <input type="hidden" name="PinionBearingCheck" value="@Model.PinionBearingCheck" />
    </td>
        </tr>
        <tr>
            <td>Sjekk kile på kjedehjul</td>
<td>
        <input type="radio" id="ChainWheelKeyCheck_OK" name="ChainWheelKeyCheck" value="OK" 
               @(Model.ChainWheelKeyCheck == "OK" ? "checked='checked'" : "") />
        <label for="ChainWheelKeyCheck_OK"></label>
    </td>
    <td>
        <input type="radio" id="ChainWheelKeyCheck_Bør_skiftes" name="ChainWheelKeyCheck" value="Bør_skiftes" 
               @(Model.ChainWheelKeyCheck == "Bør_skiftes" ? "checked='checked'" : "") />
        <label for="ChainWheelKeyCheck_Bør_skiftes"></label>
    </td>
    <td>
        <input type="radio" id="ChainWheelKeyCheck_Defekt" name="ChainWheelKeyCheck" value="Defekt"
               @(Model.ChainWheelKeyCheck == "Defekt" ? "checked='checked'" : "") />
        <label for="ChainWheelKeyCheck_Defekt"></label>
        <input type="hidden" name="ChainWheelKeyCheck" value="@Model.ChainWheelKeyCheck" />
    </td>
        </tr>
        
        <tr>
            <td rowspan="7">Hydraulisk</td>
            <td>Sjekk hydraulikk sylinder for lekkasje</td>
             <td>
                   <input type="radio" id="HydraulicCylinderCheck_OK" name="HydraulicCylinderCheck" value="OK" 
                          @(Model.HydraulicCylinderCheck == "OK" ? "checked='checked'" : "") />
                   <label for="HydraulicCylinderCheck_OK"></label>
               </td>
               <td>
                   <input type="radio" id="HydraulicCylinderCheck_Bør_skiftes" name="HydraulicCylinderCheck" value="Bør_skiftes" 
                          @(Model.HydraulicCylinderCheck == "Bør_skiftes" ? "checked='checked'" : "") />
                   <label for="HydraulicCylinderCheck_Bør_skiftes"></label>
               </td>
               <td>
                   <input type="radio" id="HydraulicCylinderCheck_Defekt" name="HydraulicCylinderCheck" value="Defekt"
                          @(Model.HydraulicCylinderCheck == "Defekt" ? "checked='checked'" : "") />
                   <label for="HydraulicCylinderCheck_Defekt"></label>
                   <input type="hidden" name="HydraulicCylinderCheck" value="@Model.HydraulicCylinderCheck" />
               </td>
        </tr>
        <tr>
            <td>Sjekk slanger for skader og lekkasje</td>
            <td>
                    <input type="radio" id="HoseCheck_OK" name="HoseCheck" value="OK" 
                           @(Model.HoseCheck == "OK" ? "checked='checked'" : "") />
                    <label for="HoseCheck_OK"></label>
                </td>
                <td>
                    <input type="radio" id="HoseCheck_Bør_skiftes" name="HoseCheck" value="Bør_skiftes" 
                           @(Model.HoseCheck == "Bør_skiftes" ? "checked='checked'" : "") />
                    <label for="HoseCheck_Bør_skiftes"></label>
                </td>
                <td>
                    <input type="radio" id="HoseCheck_Defekt" name="HoseCheck" value="Defekt"
                           @(Model.HoseCheck == "Defekt" ? "checked='checked'" : "") />
                    <label for="HoseCheck_Defekt"></label>
                    <input type="hidden" name="HoseCheck" value="@Model.HoseCheck" />
                </td>
        </tr>
        <tr>
            <td>Test hydraulikkblokk i testbenk</td>
            <td>
                <input type="radio" id="OK" name="HydraulicBlockTest" value="OK" />
                <label for="OK"></label>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="HydraulicBlockTest" value="Bør_skiftes" />
                <label for="Bør_skiftes"></label>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="HydraulicBlockTest" value="Defekt"/>
                <label for="Defekt"></label>  
            </td>
            
        </tr>
        <tr>
            <td>Skift olje i tank</td>
            <td>
                <input type="radio" id="OK" name="TankOilChange" value="OK" />
                <label for="OK"></label>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="TankOilChange" value="Bør_skiftes" />
                <label for="Bør_skiftes"></label>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="TankOilChange" value="Defekt"/>
                <label for="Defekt"></label>       
            </td>
            
        </tr>
        <tr>
            <td>Skift olje på gir boks</td>
            <td>
                <input type="radio" id="OK" name="GearboxOilChange" value="OK" />
                <label for="OK"></label>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="GearboxOilChange" value="Bør_skiftes" />
                <label for="Bør_skiftes"></label>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="GearboxOilChange" value="Defekt"/>
                <label for="Defekt"></label>     
            </td>
            
        </tr>
        <tr>
            <td>Sjekk Ringsylinder åpne og skift tetninger</td>
            <td>
                <input type="radio" id="OK" name="RingCylinderSealsCheck" value="OK" />
                <label for="OK"></label>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="RingCylinderSealsCheck" value="Bør_skiftes" />
                <label for="Bør_skiftes"></label>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="RingCylinderSealsCheck" value="Defekt"/>
                <label for="Defekt"></label>        
                 <input type="hidden" asp-for="RingCylinderSealsCheck" />
            </td>
            
        </tr>
        <tr>
            <td>Sjekk bremse sylinder åpne og skift tetninger</td>
            <td>
                <input type="radio" id="OK" name="BrakeCylinderSealsCheck" value="OK" />
                <label for="OK"></label>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="BrakeCylinderSealsCheck" value="Bør_skiftes" />
                <label for="Bør_skiftes"></label>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="BrakeCylinderSealsCheck" value="Defekt"/>
                <label for="Defekt"></label>    
                 <input type="hidden" asp-for="BrakeCylinderSealsCheck" />
            </td>
            
        </tr>
        <tr>
            <td rowspan="3">Elektro</td>
            <td>Sjekk ledningsnett på vinsj</td>
            <td>
                <input type="radio" id="OK" name="WinchWiringCheck" value="OK" />
                <label for="OK"></label>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="WinchWiringCheck" value="Bør_skiftes" />
                <label for="Bør_skiftes"></label>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="WinchWiringCheck" value="Defekt"/>
                <label for="Defekt"></label>        
                <input type="hidden" asp-for="WinchWiringCheck" />
            </td>
            
        </tr>
        <tr>
            <td>Sjekk og test radio</td>
            <td>
                <input type="radio" id="OK" name="RadioCheck" value="OK" />
                <label for="OK"></label>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="RadioCheck" value="Bør_skiftes" />
                <label for="Bør_skiftes"></label>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="RadioCheck" value="Defekt"/>
                <label for="Defekt"></label>        
                 <input type="hidden" asp-for="RadioCheck" />
            </td>
            
        </tr>
        <tr>
            <td>Sjekk og test knappekasse</td>
            <td>
                <input type="radio" id="OK" name="ButtonBoxCheck" value="OK" />
                <label for="OK"></label>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="ButtonBoxCheck" value="Bør_skiftes" />
                <label for="Bør_skiftes"></label>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="ButtonBoxCheck" value="Defekt"/>
                <label for="Defekt"></label>     
                   <input type="hidden" asp-for="ButtonBoxCheck" />
            </td>
            
        </tr>
        <tr>
            <td rowspan="1">Trykk settinger</td>
            <td>xx- Bar</td> <!-- Spør nøsted om, og endre -->
            <td>
                <input type="radio" id="OK" name="PressureSettings" value="OK" /> 
                <label for="OK"></label>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="PressureSettings" value="Bør_skiftes" />
                <label for="Bør_skiftes"></label>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="PressureSettings" value="Defekt"/>
                <label for="Defekt"></label>   
                   <input type="hidden" asp-for="PressureSettings" />
            </td>
        </tr>
        <tr>
            <td rowspan="3">Funksjonstest</td>
            <td>Test vinsj og kjør alle funksjoner</td>
            <td>
                <input type="radio" id="OK" name="FunctionTest" value="@Model.FunctionTest" readonly="readonly"/>
                <label for="OK"></label>
                 <span validation-for="OK" class="FunctionTest"></span>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="FunctionTest" value="@Model.FunctionTest" readonly="readonly"/>
                <label for="Bør_skiftes"></label>
                 <span validation-for="Bør_skiftes" class="FunctionTest"></span>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="FunctionTest" value="@Model.FunctionTest" readonly="readonly"/>
                <label for="Defekt"></label>   
                <span validation-for="Defekt" class="FunctionTest"></span>
            </td>
            
        </tr>
        <tr>
            <td>Trekkraft KN</td>
            <td>
                <input type="radio" id="OK" name="TractionForceKN" value="@Model.TractionForceKN" readonly="readonly"/>
                <label for="OK"></label>
                 <span validation-for="OK" class="TractionForceKN"></span>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="TractionForceKN" value="@Model.TractionForceKN" readonly="readonly"/>
                <label for="Bør_skiftes"></label>
                 <span validation-for="Bør_skiftes" class="TractionForceKN"></span>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="TractionForceKN" value="@Model.TractionForceKN" readonly="readonly"/>
                <label for="Defekt"></label>  
                <span validation-for="Defekt" class="TractionForceKN"></span>
            </td>
            
        </tr>
        <tr>
            <td>Bremsekraft KN</td>
            <td>
                <input type="radio" id="OK" name="BrakeForceKN" value="@Model.BrakeForceKN" readonly="readonly"/>
                <label for="OK"></label>
                <span validation-for="OK" class="BrakeForceKN"></span>
            </td>
            
            <td>
                <input type="radio" id="Bør_skiftes" name="BrakeForceKN" value="@Model.BrakeForceKN" readonly="readonly"/>
                <label for="Bør_skiftes"></label>
                 <span validation-for="Bør_skiftes" class="BrakeForceKN"></span>
            </td>
            
            <td>
                <input type="radio" id="Defekt" name="BrakeForceKN" value="@Model.BrakeForceKN" readonly="readonly"/>
                <label for="Defekt"></label>     
                <span validation-for="Defekt" class="BrakeForceKN"></span>
            </td>
            
        </tr>
    </table>





<br>
<label for="freeform">Kommentar:</label>
<input for="Address" class="form-control" type="text" value="@Model.Freeform" readonly="readonly"/>
<span validation-for="Address" class="text-danger"></span>
<br>
<textarea id="freeform" name="freeform" rows="6" cols="115"></textarea>
<br>
<br>
<label for="Sign">Signatur:</label>
<input for="Sign" class="form-control" type="text" value="@Model.Sign" readonly="readonly"/>
<span validation-for="Sign" class="text-danger"></span>
<br>
<input type="text" id="Sign" name="Sign">
<br>
<label for="CompletionDate">Date:</label>
<input for="CompletionDate" class="form-control" type="text" value="@Html.DisplayFor(model => Model.CompletionDate)" readonly="readonly"/>
<span validation-for="CompletionDate" class="text-danger"></span>
<br><br/>
<button type="submit" class="btn btn-primary">Send inn</button>

</body>
</html>